<div class="wrapper-outer">
    <div class="outer-content">
        <div class="container">
            <h1>SpaceX Launch Programs</h1>
            <div class="left-sidebar">
                <div class="filter-heading">Filters</div>
                <div class="year">Launch Year</div>
                <div class="yearlist">
                    <ul>
                        <li *ngFor="let year of yearFilters"><a [routerLink]="['']" queryParamsHandling="merge" [queryParams]="{launch_year: year}" class="button">{{year}}</a></li>
                    </ul>
                </div>

                <div class="year">Successful Launch</div>
                <div class="yearlist">
                    <ul>
                        <li><a [routerLink]="['']" [queryParams]="{launch_success: true}" queryParamsHandling="merge" class="button">True</a></li>
                        <li><a [routerLink]="['']" [queryParams]="{launch_success: false}" queryParamsHandling="merge" class="button">False</a></li>
                    </ul>
                </div>

                <div class="year">Successful Landing</div>
                <div class="yearlist">
                    <ul>
                        <li><a [routerLink]="['']" [queryParams]="{land_success: true}" queryParamsHandling="merge" class="button">True</a></li>
                        <li><a [routerLink]="['']" [queryParams]="{land_success: false}" queryParamsHandling="merge" class="button">False</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-content">
                <div class="wrap-content">
                    <ul class="listcard">
                        <ng-container *ngFor="let mission of missions">
                            <app-launch-item [mission]="mission"></app-launch-item>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>